* {
  font-family: "Ubuntu", san-serif;
  background-color: #1e1f20;
  color: #f6f6f6;
}
.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 15vmin;
}

.App-header {
  background-color: #1e1f20;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.txt-red {
  color: #ca1f3d;
}

.App-mid {
  /* background-color: gray; */
  min-height: 85vh;
  max-height: 85vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-size: small;
  opacity: 0;
  transition: 0.8s;
}

footer:hover {
  opacity: 1;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
